@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.background-svg {
    z-index: -1;
    position: absolute;
    margin-top: 0%;
}

#container {
    color: #545454;
}

/**************** NAVBAR ****************/
.logo {
    width: 40px;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 0;
    color: #545454;
    font-size: 16pt;
}

.navlinks {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 40%;
}

a {
    text-decoration: none;
    color: #545454;

}

.navlinks a:hover {
    color: black;
    font-weight: bold;
}

/**************** FORM ****************/
img {
    width: 30%;
}

.form-body {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

form {
    border: 1px solid #e9e9e9;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 8% auto; */
    width: 25%;
    padding: 3%;
}

.admin-form-header {
    text-align: center;
    margin-bottom: 5%;
}

p {
    margin: 3% 0;
    display: flex;
    justify-content: space-between;
}

input {
    width: 70%;
    border: 1px solid grey;
    height: 30px;
    font-size: 12pt;
    padding-left: 5px;
}

button {
    color: #eee;
    background-color: #5c8412;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 13pt;
    margin: 5% auto;
    cursor: pointer;
    width: 20%;
}

button:hover {
    background-color: #7ab116;
    transition: 0.25s ease-in-out;
}

/**************** FOOTER ****************/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.social-media-icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 10%;
}

.footer-3 {
    display:flex;
    flex-direction:column;
    list-style-type: none;
}

.footer-3 > li {
	margin: 10% 0;
}
