@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.background-svg {
    z-index: -1;
    position: absolute;
    margin-top: 0%;
}

#container {
    color: #545454;
}

/**************** NAVBAR ****************/

.logo {
    width: 40px;
}

#navbar {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 0;
    color: #545454;
    font-size: 16pt;
}

.navlinks {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 40%;
}

a {
    text-decoration: none;
    color: #545454;

}

.navlinks a:hover {
    color: black;
    font-weight: bold;
}
/**************** CONTENT ****************/
#body {
	margin: 10% auto;	
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}


.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

h2 {
    /* text-align: center;
    margin: 3em auto; */
    transform: rotate(-90deg);
    /* padding: 10% 3%; */
    width: 30%;
    font-size: 70pt;
    align-self: center;
/*     position: absolute; */
    margin-bottom: 10%;
    margin-left: -10%;
}



.block-1 {
	background-color: #5c8412;
	width: 80%;
	height: 20px;
	position: absolute;
	transform: rotate(-90deg);
	margin-left: -50%;
	margin-top: 35%;
	
}

.block-2 {
	background-color: #bdcea0;
	width: 80%;
	height: 20px;
	position: absolute;
	transform: rotate(-90deg);
	margin-left: -49%;
	margin-top: 45%;	
}

.block-3 {
	background-color: #e2e1dc;
    width: 80%;
    height: 20px;
    position: absolute; 
    transform: rotate(-90deg);
    margin-left: -48%;
	margin-top: 55%;
}

img {
	transition: 0.25s ease-in-out;
}

img:hover {
	transform: scale(1.3);
}

/**************** FOOTER ****************/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    bottom: 0;
}

.social-media-icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 10%;
}

.footer-3 {
    display:flex;
    flex-direction:column;
    list-style-type: none;
}

.footer-3 > li {
	margin: 10% 0;
}
